@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
$hero1: url('../assets/img/hero01.png');
$hero2: url('../assets/img/hero02.png');
$border1: #333 solid 1px;
$animation-bezier: cubic-bezier(.52,
0,
0,
1);
@mixin respond ($breakpoint) {
    @if $breakpoint==mobile-large {
        @media only screen and (min-width: 640px) {
            @content;
        }
    }
    @if $breakpoint==laptop {
        @media only screen and (min-width: 1024px) {
            @content;
        }
    }
    @if $breakpoint==desktop {
        @media only screen and (min-width: 1200px) {
            @content;
        }
    }
    @if $breakpoint==mobile-only {
        @media only screen and (max-width: 640px) {
            @content;
        }
    }
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    border: 0;
    background: none;
    cursor: pointer;
    padding: .5rem;
}

.text-center {
    text-align: center;
}

.header {
    width: 100%;
    height: 100vh;
    box-shadow: 0px 0px 16px 0px hsla(0, 0%, 60%, 0.729);
    position: relative;
    @include respond(mobile-large) {
        height: 85vh;
    }
    &__container {
        height: 100%;
        display: grid;
        grid-template-rows: min-content;
        align-items: center;
        position: relative;
    }
}

.crossfade {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    &--overlay {
        opacity: .35;
        @include respond(laptop) {
            opacity: 1;
        }
    }
    &__bg {
        @extend .crossfade;
        background-size: cover;
        &--top {
            background-image: $hero1;
            background-position: 20%;
        }
        &--bottom {
            background-image: $hero2;
            z-index: -1;
        }
    }
}

.fadeinout {
    animation: FadeInOut 10s ease-in-out infinite alternate;
}

.navbar {
    padding-top: 2rem;
    &__container {
        text-align: center;
        @include respond(mobile-large) {
            display: flex;
            justify-content: center;
        }
        @include respond(laptop) {
            justify-content: flex-end;
        }
    }
}

%hamburger-icon {
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: #000;
}

.hamburger-icon {
    @extend %hamburger-icon;
    position: relative;
    top: -4px;
    margin-right: .75rem;
    &::before,
    &::after {
        content: '';
        position: absolute;
        right: 0;
        top: -7px;
        @extend %hamburger-icon;
    }
    &::after {
        top: 7px;
    }
}

.nav {
    &-toggle {
        font-family: inherit;
        font-size: 1rem;
        font-weight: 500;
        color: #333;
        background-color: hsla(0, 0%, 100%, 0.6);
        padding: .6rem .75rem;
        // this does the z-index trick
        position: relative;
        @include respond(mobile-large) {
            display: none;
        }
        &:focus~.nav-menu {
            opacity: .9;
            transform: scale(1);
        }
    }
    &-menu {
        width: 550px;
        padding: .5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include respond(mobile-only) {
            display: block;
            position: absolute;
            left: 5%;
            margin-top: 5px;
            width: 90%;
            background-color: white;
            opacity: 0;
            transform: scale(0);
            transition: all ease-in .5s;
        }
    }
    &-item {
        padding: .75rem 1rem;
        @include respond(mobile-only) {
            &:not(:last-child) {
                margin-bottom: .5rem
            }
        }
        &:first-child {
            border: $border1;
            &::before,
            &::after {
                display: none;
            }
        }
    }
    &-link,
    &-link:visited {
        font-size: 1rem;
        font-weight: 100;
        color: #000;
    }
}

.border-animation {
    position: relative;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    transition: padding .2s, border-color .2s;
    &::before,
    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 0;
        transition: height .2s, border-color 0s;
    }
    &::before {
        top: 0;
        border-left: 1px solid transparent;
    }
    &::after {
        border-right: 1px solid transparent;
    }
    &:hover {
        border-color: #000;
        &::before,
        &::after {
            height: 100%;
            transition-delay: .1s;
            border-color: #000;
        }
    }
}

.banner {
    text-align: center;
    margin: 0 1.5rem;
    margin-bottom: 100px;
    @include respond(mobile-large) {
        margin-bottom: 50px;
    }
    @include respond(desktop) {
        width: 500px;
        justify-self: end;
        margin-bottom: 125px;
    }
    &__heading {
        position: relative;
        font-size: 1.5rem;
        font-weight: lighter;
        color: #333;
        line-height: 1.5;
        @include respond(mobile-large) {
            font-size: 1.85rem;
            padding: 0 2rem;
        }
        &--animate {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
        }
    }
}

.fadeoutin {
    animation: FadeInOut 10s ease-in-out infinite alternate-reverse;
}

.divider {
    width: 200px;
    margin-top: 1rem;
    @include respond(mobile-large) {
        width: 250px;
    }
}

@keyframes FadeInOut {
    0% {
        opacity: 1;
    }
    45% {
        opacity: 1;
    }
    55% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes FadeInTop {
    from {
        opacity: 0;
        transform: translateY(-2rem);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.features {
    background-image: url('../assets/yellow-bg.png');
    &__container {
        padding: 4rem 2rem;
        display: grid;
        gap: 4rem 2rem;
        @include respond(mobile-large) {
            grid-auto-flow: column;
            justify-content: space-around;
        }
    }
}

.feature-item {
    text-align: center;
    color: #333;
    display: grid;
    justify-items: center;
    gap: 1.25rem;
    height: fit-content;
    @include respond(mobile-large) {
        max-width: 300px;
    }
    &__icon {
        width: 50px;
    }
    &__title {
        text-transform: uppercase;
        color: #444;
    }
    &__body {
        font-weight: 100;
        font-size: .9rem;
        line-height: 1.6;
    }
}

.specials__container {
    padding: 2rem .5rem;
    padding-bottom: 6rem;
}

.section-heading {
    margin: 2rem 0;
    text-align: center;
    &__title {
        color: #333;
        font-weight: 100;
        font-size: clamp(24px, 5vw, 32px);
    }
}

.grid-container {
    display: grid;
    @include respond(mobile-large) {
        grid-template-columns: repeat(2, 1fr);
    }
    @include respond(laptop) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.img-container>img {
    width: 100%;
    height: 100%;
}

.food-item {
    display: flex;
    &__box {
        flex: 1;
        background-color: #f8f8f8;
        display: flex;
        align-items: center;
        transition: all .5s;
    }
    .img-container {
        position: relative;
    }
    .img-container::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: .3;
        transition: all .5s;
    }
    &:hover>.img-container::before,
    &:hover>&__box {
        background-color: #f6c710;
    }
    &__text-container {
        padding: 0 .5rem;
        font-size: 4.5vw;
        text-align: center;
        color: #444;
        @include respond(mobile-large) {
            font-size: 2.5vw;
        }
        @include respond(laptop) {
            font-size: clamp(18px, 1.8vw, 21px);
        }
    }
    &__title {
        font-weight: normal;
        font-size: inherit;
    }
    &__title::after {
        content: '';
        display: block;
        margin: 6px auto;
        width: 40%;
        border-bottom: #555 solid 1px;
    }
    &__body {
        color: #333;
        font-weight: 100;
        font-size: 3vw;
        line-height: 1.5;
        @include respond(mobile-large) {
            font-size: 1.8vw;
        }
        @include respond(laptop) {
            font-size: clamp(12px, 1.2vw, 14px);
        }
    }
    &__price {
        font-weight: bold;
        margin-top: 6px;
    }
    @include respond(mobile-only) {
        &:nth-of-type(2n)>.img-container {
            order: 1;
        }
    }
    @include respond(mobile-large) {
        &:nth-of-type(3)>.img-container,
        &:nth-of-type(4)>.img-container {
            order: 1;
        }
    }
    @include respond(laptop) {
        &>&__box.img-container {
            order: 0;
        }
        &:nth-of-type(n+4)>.img-container {
            order: 1;
        }
    }
}

#about {
    background-color: #eeefef;
    position: relative;
}

.about__container {
    background-image: url(../assets/img/beans.png);
    background-position: bottom -52vw left -32vw;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 1rem 2rem;
    @include respond(mobile-large) {
        background-size: 92.5%;
        height: 500px;
    }
    @include respond(laptop) {
        height: 700px;
        background-position: right -150px top 25px;
        background-size: 70%;
        padding-top: 5rem;
        & .section-heading {
            width: 400px;
        }
    }
    @include respond(desktop) {
        background: none;
        padding: 5rem 0 2rem;
        &::after {
            content: '';
            width: 1300px;
            height: 100%;
            position: absolute;
            top: 0;
            background-image: url(../assets/img/beans.png);
            background-position: right -50px top;
            background-repeat: no-repeat;
            background-size: 70%;
        }
    }
}

.about-content {
    text-align: right;
    max-width: 900px;
    margin: 0 auto;
    @include respond(laptop) {
        width: 400px;
        margin: 0;
    }
    &__body {
        color: #333;
        font-weight: 100;
        font-size: clamp(14px, 3.75vw, 18px);
        line-height: 1.75;
        text-align: center;
        @include respond(mobile-large) {
            font-size: 1.5rem;
        }
    }
    &__img {
        width: 45%;
        max-width: 200px;
        margin-top: 2rem;
    }
}

.menu-cart__container {
    padding: 2rem 0;
}

.menu-cart-content {
    font-weight: 100;
}

.menu-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: .75rem;
    padding: 0 .5rem;
    margin: 2.5rem 0;
    &__item {
        padding: .6rem 1.125rem;
    }
    &__item.selected {
        border: 1px solid #000;
    }
    &__item.selected::before,
    &__item.selected::after {
        border: none;
    }
}

.menu-items {
    margin: 0 auto;
    padding: 0 2rem;
    width: 100%;
    color: #333;
    @include respond(mobile-large) {
        padding: 0 4rem;
    }
    @include respond(laptop) {
        height: 380px;
        &__col {
            width: 50%;
        }
    }
    &__row {
        display: none;
        animation: FadeInTop 1s;
        &.show {
            display: block;
            @include respond(laptop) {
                display: flex;
                column-gap: 5rem;
            }
        }
    }
    &__container {
        width: 100%;
    }
}

.menu-item {
    &__title {
        background-image: radial-gradient(#3c3c3c 1px, #fff 0px);
        background-size: 8px 8px;
        background-repeat: repeat-x;
        background-position: 0% 90%;
        &>span {
            background-color: #fff;
            padding-right: .5rem;
        }
    }
    &__price {
        padding-left: .5rem;
        width: 36px;
    }
    &__ingredients {
        font-size: .9rem;
        font-style: italic;
        margin-bottom: 1rem;
        display: block;
    }
}

#contact {
    background-image: url('../assets/img/contact-bg.png');
    background-position: bottom right;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem 0;
}

.contact__container {
    @include respond(laptop) {
        display: flex;
        justify-content: center;
    }
    @include respond(desktop) {
        justify-content: end;
        padding-right: 4rem;
    }
}

.contact {
    &-content {
        color: #333;
        @include respond(laptop) {
            width: 550px;
        }
    }
    &-info {
        display: flex;
        flex-flow: row wrap;
        gap: 1rem;
        justify-content: space-around;
        padding: 1rem .5rem;
        @include respond(laptop) {
            justify-content: space-between;
        }
        &__title {
            font-weight: 600;
        }
        &__body {
            font-weight: 100;
            margin-top: .5rem;
            line-height: 1.5;
        }
    }
    &-item {
        text-align: center;
        @include respond(mobile-large) {
            &:first-child {
                text-align: left;
            }
            &:last-child {
                text-align: right;
            }
        }
    }
    &-form {
        width: 80vw;
        margin: 3rem auto;
        @include respond(laptop) {
            width: 100%;
        }
        &__title {
            font-weight: 600;
            margin-bottom: 2rem;
            padding-left: 1rem;
            @include respond(mobile-large) {
                padding: 0;
            }
        }
        &>.input-group {
            @include respond(mobile-large) {
                display: flex;
                gap: 2rem;
            }
            &>input {
                border-bottom: 1px solid #000;
                margin-bottom: 2rem;
            }
        }
        &>textarea {
            border-bottom: 1px solid #000;
            padding-bottom: 0;
            resize: none;
        }
        & input::placeholder,
        &>textarea::placeholder {
            font-style: italic;
        }
        &>button {
            border: 1px solid #000;
            font-size: 1rem;
            color: #333;
            font-family: inherit;
            padding: .8rem 1.8rem;
            margin: 0 auto;
            margin-top: 4rem;
        }
    }
}

.input-group>input,
textarea {
    all: unset;
    display: block;
    width: 100%;
    padding: 1rem;
    // this property was overridden by all: unset
    box-sizing: border-box;
}

.dark-animation {
    display: block;
    position: relative;
    &::before {
        content: '';
        width: 100%;
        height: 0;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0;
        background: #000;
        transition: height .2s, padding .1s;
        z-index: -1;
    }
    &:hover {
        filter: brightness(5);
        &:hover::before {
            height: 100%;
            padding: inherit;
        }
    }
}

.social-icons {
    padding: 1rem 0;
    // the previous element translateY fix
    padding-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    @include respond(laptop) {
        justify-content: end;
    }
    .img-container {
        height: 3rem;
        border: 1px solid #000;
        &>img {
            padding: .5rem;
        }
    }
}

.copyright {
    text-align: center;
    font-weight: 100;
    padding: 1rem 0;
}

@media (prefers-reduced-motion: no-preference) {
    .animatable {
        &,
        &-children>* {
            opacity: 0;
        }
        &.animate,
        &-children.animate>* {
            opacity: 1;
            transform: none;
            transition-property: opacity, transform;
            transition-duration: 1s;
            transition-timing-function: $animation-bezier;
        }
    }
    // js disabled fallback
    .nojs .animatable,
    .nojs .animatable-children>* {
        @extend .animatable.animate;
    }
    .banner,
    .about-content>img {
        transform: translateX(20%);
    }
    .feature-item__icon,
    .feature-item__title,
    .food-item__title,
    .about-content>* {
        transform: translateY(-.5rem);
    }
    .food-item {
        &__body,
        &__price-tag {
            transform: translateY(.5rem);
        }
    }
    .contact-form {
        transform: translateY(1rem);
    }
}