@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Merriweather', serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  border: 0;
  background: none;
  cursor: pointer;
  padding: .5rem;
}

.text-center {
  text-align: center;
}

.header {
  width: 100%;
  height: 100vh;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(153, 153, 153, 0.729);
          box-shadow: 0px 0px 16px 0px rgba(153, 153, 153, 0.729);
  position: relative;
}

@media only screen and (min-width: 640px) {
  .header {
    height: 85vh;
  }
}

.header__container {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: min-content;
      grid-template-rows: -webkit-min-content;
      grid-template-rows: min-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.crossfade, .crossfade__bg {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.crossfade--overlay {
  opacity: .35;
}

@media only screen and (min-width: 1024px) {
  .crossfade--overlay {
    opacity: 1;
  }
}

.crossfade__bg {
  background-size: cover;
}

.crossfade__bg--top {
  background-image: url("../assets/img/hero01.png");
  background-position: 20%;
}

.crossfade__bg--bottom {
  background-image: url("../assets/img/hero02.png");
  z-index: -1;
}

.fadeinout {
  -webkit-animation: FadeInOut 10s ease-in-out infinite alternate;
          animation: FadeInOut 10s ease-in-out infinite alternate;
}

.navbar {
  padding-top: 2rem;
}

.navbar__container {
  text-align: center;
}

@media only screen and (min-width: 640px) {
  .navbar__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (min-width: 1024px) {
  .navbar__container {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.hamburger-icon, .hamburger-icon::before, .hamburger-icon::after {
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: #000;
}

.hamburger-icon {
  position: relative;
  top: -4px;
  margin-right: .75rem;
}

.hamburger-icon::before, .hamburger-icon::after {
  content: '';
  position: absolute;
  right: 0;
  top: -7px;
}

.hamburger-icon::after {
  top: 7px;
}

.nav-toggle {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  background-color: rgba(255, 255, 255, 0.6);
  padding: .6rem .75rem;
  position: relative;
}

@media only screen and (min-width: 640px) {
  .nav-toggle {
    display: none;
  }
}

.nav-toggle:focus ~ .nav-menu {
  opacity: .9;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.nav-menu {
  width: 550px;
  padding: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 640px) {
  .nav-menu {
    display: block;
    position: absolute;
    left: 5%;
    margin-top: 5px;
    width: 90%;
    background-color: white;
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all ease-in .5s;
    transition: all ease-in .5s;
  }
}

.nav-item {
  padding: .75rem 1rem;
}

@media only screen and (max-width: 640px) {
  .nav-item:not(:last-child) {
    margin-bottom: .5rem;
  }
}

.nav-item:first-child {
  border: #333 solid 1px;
}

.nav-item:first-child::before, .nav-item:first-child::after {
  display: none;
}

.nav-link, .nav-link:visited {
  font-size: 1rem;
  font-weight: 100;
  color: #000;
}

.border-animation {
  position: relative;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-transition: padding .2s, border-color .2s;
  transition: padding .2s, border-color .2s;
}

.border-animation::before, .border-animation::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0;
  -webkit-transition: height .2s, border-color 0s;
  transition: height .2s, border-color 0s;
}

.border-animation::before {
  top: 0;
  border-left: 1px solid transparent;
}

.border-animation::after {
  border-right: 1px solid transparent;
}

.border-animation:hover {
  border-color: #000;
}

.border-animation:hover::before, .border-animation:hover::after {
  height: 100%;
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
  border-color: #000;
}

.banner {
  text-align: center;
  margin: 0 1.5rem;
  margin-bottom: 100px;
}

@media only screen and (min-width: 640px) {
  .banner {
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 1200px) {
  .banner {
    width: 500px;
    -ms-grid-column-align: end;
        justify-self: end;
    margin-bottom: 125px;
  }
}

.banner__heading {
  position: relative;
  font-size: 1.5rem;
  font-weight: lighter;
  color: #333;
  line-height: 1.5;
}

@media only screen and (min-width: 640px) {
  .banner__heading {
    font-size: 1.85rem;
    padding: 0 2rem;
  }
}

.banner__heading--animate {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.fadeoutin {
  animation: FadeInOut 10s ease-in-out infinite alternate-reverse;
}

.divider {
  width: 200px;
  margin-top: 1rem;
}

@media only screen and (min-width: 640px) {
  .divider {
    width: 250px;
  }
}

@-webkit-keyframes FadeInOut {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes FadeInOut {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes FadeInTop {
  from {
    opacity: 0;
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes FadeInTop {
  from {
    opacity: 0;
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.features {
  background-image: url("../assets/yellow-bg.png");
}

.features__container {
  padding: 4rem 2rem;
  display: -ms-grid;
  display: grid;
  gap: 4rem 2rem;
}

@media only screen and (min-width: 640px) {
  .features__container {
    grid-auto-flow: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.feature-item {
  text-align: center;
  color: #333;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  gap: 1.25rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media only screen and (min-width: 640px) {
  .feature-item {
    max-width: 300px;
  }
}

.feature-item__icon {
  width: 50px;
}

.feature-item__title {
  text-transform: uppercase;
  color: #444;
}

.feature-item__body {
  font-weight: 100;
  font-size: .9rem;
  line-height: 1.6;
}

.specials__container {
  padding: 2rem .5rem;
  padding-bottom: 6rem;
}

.section-heading {
  margin: 2rem 0;
  text-align: center;
}

.section-heading__title {
  color: #333;
  font-weight: 100;
  font-size: clamp(24px, 5vw, 32px);
}

.grid-container {
  display: -ms-grid;
  display: grid;
}

@media only screen and (min-width: 640px) {
  .grid-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1024px) {
  .grid-container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.img-container > img {
  width: 100%;
  height: 100%;
}

.food-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.food-item__box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.food-item .img-container {
  position: relative;
}

.food-item .img-container::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: .3;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.food-item:hover > .img-container::before,
.food-item:hover > .food-item__box {
  background-color: #f6c710;
}

.food-item__text-container {
  padding: 0 .5rem;
  font-size: 4.5vw;
  text-align: center;
  color: #444;
}

@media only screen and (min-width: 640px) {
  .food-item__text-container {
    font-size: 2.5vw;
  }
}

@media only screen and (min-width: 1024px) {
  .food-item__text-container {
    font-size: clamp(18px, 1.8vw, 21px);
  }
}

.food-item__title {
  font-weight: normal;
  font-size: inherit;
}

.food-item__title::after {
  content: '';
  display: block;
  margin: 6px auto;
  width: 40%;
  border-bottom: #555 solid 1px;
}

.food-item__body {
  color: #333;
  font-weight: 100;
  font-size: 3vw;
  line-height: 1.5;
}

@media only screen and (min-width: 640px) {
  .food-item__body {
    font-size: 1.8vw;
  }
}

@media only screen and (min-width: 1024px) {
  .food-item__body {
    font-size: clamp(12px, 1.2vw, 14px);
  }
}

.food-item__price {
  font-weight: bold;
  margin-top: 6px;
}

@media only screen and (max-width: 640px) {
  .food-item:nth-of-type(2n) > .img-container {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media only screen and (min-width: 640px) {
  .food-item:nth-of-type(3) > .img-container,
  .food-item:nth-of-type(4) > .img-container {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media only screen and (min-width: 1024px) {
  .food-item > .food-item__box.img-container {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .food-item:nth-of-type(n+4) > .img-container {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

#about {
  background-color: #eeefef;
  position: relative;
}

.about__container {
  background-image: url(../assets/img/beans.png);
  background-position: bottom -52vw left -32vw;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 1rem 2rem;
}

@media only screen and (min-width: 640px) {
  .about__container {
    background-size: 92.5%;
    height: 500px;
  }
}

@media only screen and (min-width: 1024px) {
  .about__container {
    height: 700px;
    background-position: right -150px top 25px;
    background-size: 70%;
    padding-top: 5rem;
  }
  .about__container .section-heading {
    width: 400px;
  }
}

@media only screen and (min-width: 1200px) {
  .about__container {
    background: none;
    padding: 5rem 0 2rem;
  }
  .about__container::after {
    content: '';
    width: 1300px;
    height: 100%;
    position: absolute;
    top: 0;
    background-image: url(../assets/img/beans.png);
    background-position: right -50px top;
    background-repeat: no-repeat;
    background-size: 70%;
  }
}

.about-content {
  text-align: right;
  max-width: 900px;
  margin: 0 auto;
}

@media only screen and (min-width: 1024px) {
  .about-content {
    width: 400px;
    margin: 0;
  }
}

.about-content__body {
  color: #333;
  font-weight: 100;
  font-size: clamp(14px, 3.75vw, 18px);
  line-height: 1.75;
  text-align: center;
}

@media only screen and (min-width: 640px) {
  .about-content__body {
    font-size: 1.5rem;
  }
}

.about-content__img {
  width: 45%;
  max-width: 200px;
  margin-top: 2rem;
}

.menu-cart__container {
  padding: 2rem 0;
}

.menu-cart-content {
  font-weight: 100;
}

.menu-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: .75rem;
  padding: 0 .5rem;
  margin: 2.5rem 0;
}

.menu-group__item {
  padding: .6rem 1.125rem;
}

.menu-group__item.selected {
  border: 1px solid #000;
}

.menu-group__item.selected::before, .menu-group__item.selected::after {
  border: none;
}

.menu-items {
  margin: 0 auto;
  padding: 0 2rem;
  width: 100%;
  color: #333;
}

@media only screen and (min-width: 640px) {
  .menu-items {
    padding: 0 4rem;
  }
}

@media only screen and (min-width: 1024px) {
  .menu-items {
    height: 380px;
  }
  .menu-items__col {
    width: 50%;
  }
}

.menu-items__row {
  display: none;
  -webkit-animation: FadeInTop 1s;
          animation: FadeInTop 1s;
}

.menu-items__row.show {
  display: block;
}

@media only screen and (min-width: 1024px) {
  .menu-items__row.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 5rem;
            column-gap: 5rem;
  }
}

.menu-items__container {
  width: 100%;
}

.menu-item__title {
  background-image: radial-gradient(#3c3c3c 1px, #fff 0px);
  background-size: 8px 8px;
  background-repeat: repeat-x;
  background-position: 0% 90%;
}

.menu-item__title > span {
  background-color: #fff;
  padding-right: .5rem;
}

.menu-item__price {
  padding-left: .5rem;
  width: 36px;
}

.menu-item__ingredients {
  font-size: .9rem;
  font-style: italic;
  margin-bottom: 1rem;
  display: block;
}

#contact {
  background-image: url("../assets/img/contact-bg.png");
  background-position: bottom right;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1rem 0;
}

@media only screen and (min-width: 1024px) {
  .contact__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (min-width: 1200px) {
  .contact__container {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    padding-right: 4rem;
  }
}

.contact-content {
  color: #333;
}

@media only screen and (min-width: 1024px) {
  .contact-content {
    width: 550px;
  }
}

.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 1rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem .5rem;
}

@media only screen and (min-width: 1024px) {
  .contact-info {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.contact-info__title {
  font-weight: 600;
}

.contact-info__body {
  font-weight: 100;
  margin-top: .5rem;
  line-height: 1.5;
}

.contact-item {
  text-align: center;
}

@media only screen and (min-width: 640px) {
  .contact-item:first-child {
    text-align: left;
  }
  .contact-item:last-child {
    text-align: right;
  }
}

.contact-form {
  width: 80vw;
  margin: 3rem auto;
}

@media only screen and (min-width: 1024px) {
  .contact-form {
    width: 100%;
  }
}

.contact-form__title {
  font-weight: 600;
  margin-bottom: 2rem;
  padding-left: 1rem;
}

@media only screen and (min-width: 640px) {
  .contact-form__title {
    padding: 0;
  }
}

@media only screen and (min-width: 640px) {
  .contact-form > .input-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
  }
}

.contact-form > .input-group > input {
  border-bottom: 1px solid #000;
  margin-bottom: 2rem;
}

.contact-form > textarea {
  border-bottom: 1px solid #000;
  padding-bottom: 0;
  resize: none;
}

.contact-form input::-webkit-input-placeholder,
.contact-form > textarea::-webkit-input-placeholder {
  font-style: italic;
}

.contact-form input:-ms-input-placeholder,
.contact-form > textarea:-ms-input-placeholder {
  font-style: italic;
}

.contact-form input::-ms-input-placeholder,
.contact-form > textarea::-ms-input-placeholder {
  font-style: italic;
}

.contact-form input::placeholder,
.contact-form > textarea::placeholder {
  font-style: italic;
}

.contact-form > button {
  border: 1px solid #000;
  font-size: 1rem;
  color: #333;
  font-family: inherit;
  padding: .8rem 1.8rem;
  margin: 0 auto;
  margin-top: 4rem;
}

.input-group > input,
textarea {
  all: unset;
  display: block;
  width: 100%;
  padding: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.dark-animation {
  display: block;
  position: relative;
}

.dark-animation::before {
  content: '';
  width: 100%;
  height: 0;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  background: #000;
  -webkit-transition: height .2s, padding .1s;
  transition: height .2s, padding .1s;
  z-index: -1;
}

.dark-animation:hover {
  -webkit-filter: brightness(5);
          filter: brightness(5);
}

.dark-animation:hover:hover::before {
  height: 100%;
  padding: inherit;
}

.social-icons {
  padding: 1rem 0;
  padding-top: 2rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

@media only screen and (min-width: 1024px) {
  .social-icons {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}

.social-icons .img-container {
  height: 3rem;
  border: 1px solid #000;
}

.social-icons .img-container > img {
  padding: .5rem;
}

.copyright {
  text-align: center;
  font-weight: 100;
  padding: 1rem 0;
}

@media (prefers-reduced-motion: no-preference) {
  .animatable,
  .animatable-children > * {
    opacity: 0;
  }
  .animatable.animate, .nojs .animatable,
  .nojs .animatable-children > *,
  .animatable-children.animate > * {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: opacity, transform;
    transition-property: opacity, transform, -webkit-transform;
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transition-timing-function: cubic-bezier(0.52, 0, 0, 1);
            transition-timing-function: cubic-bezier(0.52, 0, 0, 1);
  }
  .banner,
  .about-content > img {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
  .feature-item__icon,
  .feature-item__title,
  .food-item__title,
  .about-content > * {
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
  .food-item__body, .food-item__price-tag {
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
  }
  .contact-form {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
}
/*# sourceMappingURL=style.css.map */