@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
:root {
    --hero1: url('assets/img/hero01.png');
    --hero2: url('assets/img/hero02.png');
    --gradient-overlay: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
    --border1: #333 solid 1px;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
}

header {
    width: 100%;
    height: 100vh;
    box-shadow: 0px 0px 16px 0px hsla(0, 0%, 60%, 0.729);
    position: relative;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

header>.container {
    height: 100%;
    display: grid;
    grid-template-rows: min-content;
    align-items: center;
}

.hero-crossfade {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.hero-crossfade::after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: var(--gradient-overlay);
    z-index: 1;
}

.hero1,
.hero2 {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.hero1 {
    height: 100%;
    background-image: var(--hero1);
    background-size: cover;
    background-position: 20%;
    transition: opacity 1s ease-in-out;
}

.hero1,
.banner>h1 {
    animation-name: FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-direction: alternate;
}

.hero2 {
    height: 100%;
    background-image: var(--hero2);
    background-size: cover;
}

.navbar {
    padding-top: 2rem;
}

.navbar .container {
    text-align: center;
    position: relative;
}

.hamburger-icon {
    display: inline-block;
    margin-right: .8rem;
    vertical-align: middle;
}

.hamburger-icon span {
    width: 1.25rem;
    height: 2px;
    background: #000;
    display: block;
    margin-bottom: 5px;
}

.hamburger-icon span:last-child {
    margin: 0;
}

.navbar #menu {
    background-color: white;
    padding: .5rem;
    opacity: 0;
    position: absolute;
    left: 5%;
    margin-top: 5px;
    width: 90%;
    transition: transform ease-in .5s;
    z-index: 3;
    transform: scale(0);
}

.navbar .btn:focus~#menu {
    opacity: .9;
    transform: scale(1);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.nav-item {
    padding: .75rem 0;
    position: relative;
}

li.nav-item:first-child {
    border: var(--border1);
}

li.nav-item:first-child::before {
    display: none;
}

.nav-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: var(--border1);
    border-bottom: var(--border1);
    opacity: 0;
    transform: scaleY(1.3);
    transition-property: opacity, transform, border-left, border-right;
    transition-duration: .3s;
}

.nav-item:hover::before {
    border-left: var(--border1);
    border-right: var(--border1);
    transform: scaleY(1);
    opacity: 1;
    transition-delay: 0s, .15s, .2s, .25s;
}

.nav-link,
.nav-link:visited {
    font-size: 1rem;
    color: #333;
}

.btn {
    border: 0;
    background: none;
    cursor: pointer;
    padding: .5rem;
}

.nav-toggle {
    font-size: 1.125rem;
    font-weight: bold;
    font-family: inherit;
    background-color: hsla(0, 0%, 100%, .8);
    padding: .5rem .7rem;
}

.nav-toggle>span {
    vertical-align: sub;
}

.banner {
    text-align: center;
    margin-bottom: 100px;
    position: relative;
}

.banner::after {
    content: 'Dandelion cucumber earthnut pea peanut soko zucchini';
    display: block;
    position: absolute;
    bottom: 30%;
    animation-name: FadeOutIn;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-direction: alternate;
}

.banner>h1,
.banner::after {
    font-size: 1.88rem;
    font-weight: lighter;
    color: #333;
    line-height: 1.5;
}

.banner>img {
    width: 200px;
    margin-top: 1rem;
}

@keyframes FadeInOut {
    0% {
        opacity: 1;
    }
    45% {
        opacity: 1;
    }
    55% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes FadeOutIn {
    0% {
        opacity: 0;
    }
    45% {
        opacity: 0;
    }
    55% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@media (min-width: 640px) {
    header {
        height: 85vh;
    }
    .nav-toggle {
        display: none;
    }
    .navbar {
        padding-top: 1.5rem;
    }
    .navbar .container {
        display: flex;
        justify-content: center;
    }
    .navbar #menu {
        position: static;
        opacity: 1;
        transform: scale(1);
        background-color: transparent;
        width: 550px;
    }
    .navbar-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-item {
        padding: .5rem 1rem;
    }
    .banner {
        margin-bottom: 50px;
    }
    .banner>h1,
    .banner::after {
        font-size: 2rem;
        margin: 0 2rem;
    }
    .banner>img {
        width: 250px;
    }
}

@media (min-width: 1024px) {
    .hero-crossfade::after {
        display: none;
    }
    .navbar .container {
        justify-content: flex-end;
    }
    .banner {
        width: 500px;
        justify-self: end;
        margin-bottom: 125px;
    }
}